@{
    ViewData["Title"] = "New Car";
}

<div class="container mt-4">
    <div class="col-md-15">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-bold">WheelDeal</h5>
                    <p> WheelDeal brings you the latest new cars in the Philippines for 2025 with updated prices. 
                        There are many new car models available across 6 brands. 
                        Popular brands like Nissan, Toyota and Hyundai offer budget-friendly and fuel-efficient cars, making them top choices for buyers. 
                        The new car market is predominantly dominated by segments such as SUVs, Hatchbacks, Pickup Trucks, Sedans, Luxury, EVs. 
                        With the growing popularity of SUVs, many new car launches focus on this segment. 
                        <br />
                        <br />
                        You can explore cars by applying filters such as price, body type, brand, fuel type, transmission type, seating capacity, and more to find the perfect match for your needs when buying a new car. 
                        Stay updated with new car launches, upcoming cars, electric cars in the Philippines, brand offers, compare cars in your price range, and stay tuned to the latest car news.
                    </p>
            </div>
        </div>
    </div>

    <br />

    <div class="col-md-15">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-bold">Explore Cars by Price</h5>
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item"><a class="nav-link active" href="#">₱600,000 - ₱1,000,000</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">₱1,000,000 - ₱2,000,000</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">₱3,000,000 and above</a></li>
                </ul>

                <div class="mt-3">
                    <a href="#" class="text-decoration-none">View all Cars Under ₱600,000 <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="col-md-15">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-bold">Explore Cars by Body Type</h5>
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item"><a class="nav-link active" href="#">SUV</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Pickup Trucks</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Sedan</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Luxury</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Hatchback</a></li>
                    </ul>

                <div class="mt-3">
                    <a href="#" class="text-decoration-none">View all Body Type Cars <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="col-md-15">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-bold">Explore Cars by Brand</h5>

                <div class="mt-3">
                    <a href="#" class="text-decoration-none">View all Cars <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="col-md-15">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-bold">Explore Cars by More Options</h5>

                <div class="mt-3">
                    <a href="#" class="text-decoration-none">View all Cars <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>